.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: lightgray;
    -fx-background-image: null;
    -fx-border-radius: 9px;
    -fx-padding: 0px;
    
}
.radio-button:selected .dot{
	 -fx-background-insets: 0px;
}
.radio-button .dot {
    -fx-background-radius: 12px;
    -fx-padding: 9px;
}.stammfunktion:selected  .dot { -fx-background-color:00008b;}
.funktion:selected  .dot { -fx-background-color:ff4500;}
.ableitung1:selected  .dot {-fx-background-color:008000;}
.ableitung2:selected  .dot {-fx-background-color:8a2be2;}